/*==============
 create memorial about area
 ========================= */

 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
     -webkit-appearance: none;
     margin: 0;
 }
 
 input[type=number] {
     -moz-appearance: textfield;
 }
 
 .create-memorial-section {
     background: linear-gradient(180deg, rgba(144, 165, 161, 0.71) 1.77%, rgba(144, 165, 161, 0.21) 48.5%);
 }
 
 .create-memorial-section .heading2 {
     text-align: left;
     padding: 90px 0px 00px;
     font-size: 50px;
 }
 
 .memorial-step-wrapper {
     display: flex;
     align-items: center;
     justify-content: space-between;
     gap:10px
 }
 
 .memorial-step-wrapper .step {
     background: #747E7E;
     border-radius: 5px;
     font-family: "Montserrat", sans-serif;
     font-weight: 500;
     font-size: 25px;
     color: #FFFFFF;
     padding: 5px 45px;
     text-align: center;
     position: relative;
 }
 
 .memorial-step-wrapper .active::after {
     content: "";
     border: 10px solid transparent;
     border-top: 10px solid #747E7E;
     position: absolute;
     top: 100%;
     left: 49%;
 }
 
 .memorial-step-wrapper .step p {
     margin-bottom: 0;
 }
 
 .main-input-box {
     padding: 30px 50px;
     background: #747E7E;
     margin-top: 20px;
     color: #fff;
     border-radius: 5px;
 }
 
 .main-input-box h4 {
     font-family: 'Montserrat', sans-serif;
     font-weight: 500;
     font-size: 30px;
     color: #FFFFFF;
     margin-left: -25px;
     margin-bottom: 30px;
 }
 
 .main-input-box input,.main-input-box select {
     background: #EFEFEF;
     border: 2px solid #626262;
     box-sizing: border-box;
     border-radius: 3px;
     font-weight: bold;
     font-size: 30px;
     padding: 5px 15px;
     color: #2F2F2F;
     max-width: 100%;
 }
 
 .main-input-box input::placeholder{
     color: #69696950;
 }
 
 .gender-area {
     display: flex;
     align-items: center;
     margin-bottom: 10px;
     color: rgba(0, 0, 0, 0.46);
 }
 
 .gender-area h3 {
     margin-right: 40px;
     margin-bottom: 0;
 }
 
 .gender-area .form-check {
     display: flex;
     align-items: center;
     margin-right: 30px;
 }
 
 .gender-area input {
     border: none;
     margin-right: 10px;
     margin-top: 0;
     vertical-align: middle;
     font-size: 24px;
     background: #C4C4C4;
     padding: 0;
 }
 
 .gender-area label {
     font-size: 30px;
 }
 
 /*==============
 optional details area
 ================ */
 .optional-details-wrapper {
     display: block;
     margin-bottom: 20px;
 
 }
 
 
 
 .optional-details {
     padding: 20px;
     background: #2f2f2f;
     border-radius: 5px;
     display: none;
 }
 
 .optional-details.show {
     display: block;
 }
 
 .optional-details-wrapper .optional-btn {
     display: block;
     color: #fff;
     width: 200px;
     border-bottom: 1px solid #fff;
     margin-bottom: 10px;
     cursor: pointer;
 }
 
 .optional-details-wrapper .born input,
 .optional-details-wrapper .born select {
     width: 100%;
     font-size: 16px;
     padding: 10px;
     border: none;
     outline: none;
     background: #e9ecef;
     height: 40px;
     border-radius: 5px;
     margin-bottom: 20px;
 }
 
 .optional-details .born.row {
     justify-content: center;
 }
 
 .optional-details-wrapper .born .born-date {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 
 
 
 
 .web-address-wrapper {
     display: flex;
 }
 
 .get-started-btn {
     font-weight: bold;
     font-size: 30px;
     color: #FFFAFA;
     background: #2F2F2F;
     border: 2px solid #626262;
     box-sizing: border-box;
     border-radius: 3px;
     text-align: center;
     display: block;
     width: 100%;
 
 }
 
 .get-started-btn:hover {
     color: #FFFFFF;
 }
 
 .learn-more {
     text-align: center;
     margin-bottom: 0;
     margin-top: 5px;
     font-weight: bold;
     font-size: 18px;
     color: #2F2F2F;
 }
 
 .learn-more a {
     text-decoration: underline;
     color: #2F2F2F;
 }
 
 /*==========
  responsive area
  =========== */
 
 @media screen and (max-width:1199px) {
     .memorial-step-wrapper .step p {
         font-size: 22px;
     }
 
     .memorial-step-wrapper .step {
         padding: 5px 30px;
     }
 
     .create-memorial-section .heading2 {
         font-size: 42px;
     }
 
     .main-input-box h4 {
         font-size: 26px;
         margin-bottom: 20px;
     }
 
     .main-input-box input,.main-input-box select {
         font-size: 26px;
         max-width: 100%;
         line-height: normal;
     }
 
     .gender-area label {
         font-size: 24px;
     }
 
     .gender-area input {
         font-size: 22px;
     }
 
     .gender-area h3 {
         font-size: 28px;
     }
 
     .get-started-btn {
         font-size: 22px;
     }
 }
 
 @media screen and (max-width:992px) {
     .memorial-step-wrapper .step p {
         font-size: 18px;
     }
 
     .memorial-step-wrapper .step {
         padding: 5px 15px;
     }
 
     .gender-area h3 {
         font-size: 26px;
     }
 }
 
 @media screen and (max-width:767px) {
 
     .create-memorial-section .heading2 {
 
         padding: 10px 0px 0px;
         font-size: 32px;
     }
 
     .main-input-box {
         padding: 30px;
     }
 
     .main-input-box h4 {
         font-size: 22px;
         margin: 0;
         text-align: center;
         margin-bottom: 15px;
     }
 
     .gender-area {
         justify-content: center;
 
     }
 
     .optional-details {
         padding: 0;
     }
 
     .optional-details-wrapper .optional-btn {
         text-align: center;
         margin:20px auto;
     }
 
     .born.row p {
         margin: 15px;
     }
 
     .memorial-step-wrapper {
         display: block;
         position: relative;
     }
 
     .memorial-step-wrapper .plan {
         display: none;
     }
 
     .memorial-step-wrapper .privacy {
         display: none;
     }
 
     .gender-area {
         display: flex;
         flex-direction: column;
         align-items: self-start;
         justify-content: left;
         margin-bottom: 10px;
         margin-left: 10px;
         color: rgba(0, 0, 0, 0.46);
     }
 }
 
 @media screen and (max-width:450px) {
     .create-memorial-section .heading2 {
         padding: 30px 0px 0px;
         font-size: 26px;
     }
 
     .main-input-box h4 {
         font-size: 18px;
     }
 
     .main-input-box input,.main-input-box select {
         font-size: 20px;
     }
 
     .gender-area h3 {
         font-size: 20px;
         margin-bottom: 10px;
     }
 
     .gender-area label {
         font-size: 18px;
     }
 
     .gender-area input {
         font-size: 18px;
     }
 
     .get-started-btn {
         font-size: 18px;
     }
 
     .learn-more {
         font-size: 16px;
     }
 
     .main-input-box {
         padding: 15px;
     }
 }