/*==============
 create memorial plan area
 ========================= */
.create-memorial-section {
    background: linear-gradient(180deg, rgba(144, 165, 161, 0.71) 1.77%, rgba(144, 165, 161, 0.21) 48.5%);
}

.create-memorial-section .heading2 {
    text-align: left;
    padding: 90px 0px 00px;
    font-size: 50px;
}

.memorial-step-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:10px
}
.memorial-step-wrapper .active::after {
    content: "";
    border: 10px solid transparent;
    border-top: 10px solid #747E7E;
    position: absolute;
    top: 100%;
    left: 49%;
}

.memorial-step-wrapper .step {
    background: #747E7E;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #FFFFFF;
    padding: 5px 45px;
    text-align: center;
    position: relative;
}

.memorial-step-wrapper .step p {
    margin-bottom: 0;
}

.plan-area-wrapper {
    padding: 30px 50px;
    background: #747E7E;
    margin-top: 20px;
    color: #fff;
    border-radius: 5px;
}

.plan-area-wrapper h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #FFFFFF;
    margin-left: -25px;
    margin-bottom: 30px;
}

.plans {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.plans .single-plan {
    background: #fff;
    border-radius: 5px;
    color: #000;
    padding: 15px;
    text-align: center;
    width: 280px;
    margin-bottom: 20px;
    box-shadow: 4px 4px 6px #00000040;
}

.single-plan h5 {
    color: #747E7E;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}

.single-plan p {
    margin-bottom: 0;
}

.single-plan .price {
    color: #747E7E;
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 0px;
}

.single-plan .price span {
    font-size: 18px;
}

.single-plan .select-btn {
    background: #747E7E;
    color: #FFFFFF;
    margin-top: 20px;
}

.single-plan .value {
    margin-top: 20px;
    font-weight: 700;
    color: #747E7E;
    font-family: 'Montserrat', sans-serif;
}

.single-plan .services {
    padding-left: 0;
    text-align: left;
    margin: 20px 0px;
}

.single-plan .services li {
    margin-bottom: 10px;
    font-size: 16px;
}

.single-plan .services li i {
    color: #338d70;
    margin-right: 8px;
    font-size: 18px;
}


.plans .single-plan:nth-child(2) p {
    color: #4686c9;
}

.plans .single-plan:nth-child(2) .select-btn {
    background: #4686c9;
}

.plans .single-plan:nth-child(3) p {
    color: #485fc4;
}

.plans .single-plan:nth-child(3) .select-btn {
    background: #485fc4;
}

.plans .single-plan:nth-child(4) p {
    color: #c45955;
}

.plans .single-plan:nth-child(4) .select-btn {
    background: #c45955;
}

.learn-more {
    text-align: center;
    margin-bottom: 0;
    margin-top: 5px;
    font-weight: bold;
    font-size: 18px;
    color: #2F2F2F;
}

.learn-more a {
    text-decoration: underline;
    color: #2F2F2F;
}

/*==========
 responsive area
 =========== */
@media screen and (max-width:1199px) {
    .memorial-step-wrapper .step p {
        font-size: 22px;
    }

    .memorial-step-wrapper .step {
        padding: 5px 30px;
    }

    .create-memorial-section .heading2 {
        font-size: 42px;
    }
}

@media screen and (max-width:992px) {
    .memorial-step-wrapper .step p {
        font-size: 18px;
    }

    .memorial-step-wrapper .step {
        padding: 5px 15px;
    }

}

@media screen and (max-width:767px) {
    .memorial-step-wrapper {
        display: block;
    }

    .memorial-step-wrapper .about {
        display: none;
        position: relative;
    }

    .memorial-step-wrapper .privacy {
        display: none;
    }

    .plans .single-plan {
        max-width: 350px;
        width: 100%;
    }

    .plan-area-wrapper {
        padding: 30px 25px;
    }

    .plan-area-wrapper h4 {
        text-align: center;
        margin-left: 0px;
    }
}
@media screen and (max-width:450px){
    .create-memorial-section .heading2 {
        padding: 30px 0px 0px;
        font-size: 26px;
    }
}