/*==============
 create memorial privacy area
 ========================= */
.create-memorial-section {
    background: linear-gradient(180deg, rgba(144, 165, 161, 0.71) 1.77%, rgba(144, 165, 161, 0.21) 48.5%);
}

.create-memorial-section .heading2 {
    text-align: left;
    padding: 90px 0px 00px;
    font-size: 50px;
}

.memorial-step-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.memorial-step-wrapper .step {
    background: #747E7E;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #FFFFFF;
    padding: 5px 45px;
    text-align: center;
    position: relative;
}
.memorial-step-wrapper .active::after {
    content: "";
    border: 10px solid transparent;
    border-top: 10px solid #747E7E;
    position: absolute;
    top: 100%;
    left: 49%;
}


.memorial-step-wrapper .step p {
    margin-bottom: 0;
}

.privacy-options-wrapper {
    padding: 30px 40px;
    background: #747E7E;
    margin-top: 20px;
    color: #fff;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}

.privacy-options-wrapper h5 {
    font-weight: 500;
    font-size: 22px;
    color: #FFFFFF;
    margin-bottom: 20px;

}

.privacy-options-wrapper .suggestion-text {
    font-weight: 500;
    margin-bottom: 10px;
}

.change-later-text {
    color: #c8c8c8;
}

.input-wrapper {
    display: flex;
    align-items: flex-start;
    width: 500px;
    cursor: pointer;
}

.input-wrapper input {
    margin: 10px;
}

.input-wrapper label:active {
    transform: scale(1);
}

.input-wrapper label {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}

.input-wrapper label p {
    font-weight: 400;
    font-size: 16px;

}

.coninue-btn {
    display: block;
    padding: 5px 10px;
    background: #2f2f2f;
    color: #fff;
    font-weight: 500;
}

.coninue-btn:hover {
    color: #fff;
}


.learn-more {
    text-align: center;
    margin-bottom: 0;
    margin-top: 5px;
    font-weight: bold;
    font-size: 18px;
    color: #2F2F2F;
}

.learn-more a {
    text-decoration: underline;
    color: #2F2F2F;
}

/*==========
 responsive area
 =========== */
@media screen and (max-width:1199px) {
    .memorial-step-wrapper .step p {
        font-size: 22px;
    }

    .memorial-step-wrapper .step {
        padding: 5px 30px;
    }

    .create-memorial-section .heading2 {
        font-size: 42px;
    }
}

@media screen and (max-width:992px) {
    .memorial-step-wrapper .step p {
        font-size: 18px;
    }

    .memorial-step-wrapper .step {
        padding: 5px 15px;
    }

}

@media screen and (max-width:767px) {
    .create-memorial-section .heading2 {
        font-size: 26px;
    }

    .memorial-step-wrapper {
        display: block;
    }

    .memorial-step-wrapper .about {
        display: none;
        position: relative;
    }

    .memorial-step-wrapper .plan {
        display: none;
    }

    .input-wrapper {
        width: 100%;
    }



    .privacy-options-wrapper {
        padding: 30px 15px;

    }

    .input-wrapper label {
        font-size: 16px;
    }

    .input-wrapper label p {
        font-size: 14px;
    }

    .coninue-btn {
        margin: 20px auto;
    }

}