.banner-content {
    background-image: url(../img/create-memorial-banner.png);
}

.nav-tabs {
    display: flex;
    justify-content: space-between;
    font-family: "arialRounded";
    border-bottom: none;
}

.nav-tabs .nav-link {
    color: #fff;
    border: none;
    border-bottom: 3px solid transparent;
}

.nav-tabs .nav-link:hover {
    color: #f3f3f3;

}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #fff;
    background: none;
    border: none;
    border-bottom: 3px solid #fff;

}

.create-memorial-step {
    margin-bottom: 30px;
}

textarea {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    padding: 15px;
    color: #747E7E;
    outline: none;
    width: 100%;

}

input {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    padding: 15px;
    color: #747E7E;
    outline: none;
    width: 100%;
    margin-bottom: 20px;
}

textarea::placeholder,
input::placeholder {
    color: rgba(105, 105, 105, 0.46);
}

.input-area-wrapper {
    background: #747E7E;
    border-radius: 5px;
    padding: 20px 50px 50px;
}


/*=========================== 
create memorial about area
============================== */
#nav-about {
    position: relative;

}

.title-of-about {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
}

#nav-about hr {
    width: 80%;
    color: white;
    height: 1px;
    display: block;
    opacity: 1;
    margin: 15px auto;
}

.remembering-text {
    font-family: "Montserrat";
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
}






.about-input-area-wrapper textarea::placeholder {
    color: rgba(105, 105, 105, 0.46);
}

.publish-btn {
    font-weight: bold;
    font-size: 30px;
    color: #FFFAFA;
    padding: 5px 10px;
    display: block;
    cursor: pointer;
    text-align: center;
    width: 100%;
    background: #2F2F2F;
    border: 2px solid #626262;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 15px;
}

.publish-btn:hover {
    color: #FFFAFA;
}

#nav-about .add-photos-area,
#nav-about .invite-now-area {
    background: #747E7E;
    border-radius: 5px;
    margin-top: 25px;
    padding: 20px;
}

#nav-about .add-photos-area h4,
#nav-about .invite-now-area h4 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    color: #FFFFFF;

}

#nav-about .add-photos-area label:active {
    transform: scale(.9);
    transition: .1s ease;
}

#nav-about .add-photos-area label,
#nav-about .invite-now-area button {
    background: #414645;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    display: block;
    margin: auto;
    padding: 10px;
    text-align: center;
    width: 390px;
    color: #fff;
    cursor: pointer;
    text-decoration: underline;
    margin-top: 10px;
}

.suggestion-text {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #2F2F2F;
    text-align: center;
    margin: 20px 0px;
}

.suggestion-text a {
    text-decoration: underline;
    color: #2F2F2F;
}






/*=========================
create memorial life area
===========================*/
.description-text {
    font-family: "Montserrat";
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin: 25px 0px;
}






.life-input-area-wrapper textarea {
    margin-bottom: 0;
}



.learn-more-area-wrapper {
    background: #c8c8c8;
    border: 2px solid #626262;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 5px;
}

.learn-more-area-wrapper .not-free-text {
    font-family: "Montserrat";
    color: #5a5a5a;
    font-weight: 500;
    text-align: center;
    font-size: 22px;
    width: 650px;
    display: block;
    margin: auto;
    margin-bottom: 50px;
}

.learn-more-area-wrapper p span {
    font-weight: 700;
    font-size: 26px;
}

.learn-more-area-wrapper .row .col-md-4 {
    text-align: center;
}

.learn-more-area-wrapper .row .col-md-4 p {
    font-family: "Montserrat";
    color: #909090;
    font-weight: 600;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
}

.learn-more-area-wrapper i {
    font-size: 60px;
    text-align: center;
    color: #909090;
}

/*=========================
create memorial gallery area
===========================*/


.photo-video-area {
    background: #e9e9e9;
    border: 2px solid #626262;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 5px;
}

.photo-video-area .nav-tabs {
    display: flex;
    justify-content: left;
    border-bottom: 3px solid #c8c8c8;

}

.photo-video-area .nav-tabs .nav-link {
    color: #5a5a5a;
    font-weight: 500;
    border-bottom: 3px solid transparent;
    font-family: "Montserrat";
    margin-bottom: -3px;

}

.photo-video-area .nav-tabs .nav-link.active {
    border-bottom: 3px solid #5a5a5a;
}

.photo-video-area #nav-tabContent i {
    color: #c8c8c8;
    font-size: 130px;
    text-align: center;
    display: block;
    padding: 100px 80px;
}

.photo-video-area-wrapper .add-photos-image img {
    width: 100%;
    margin-top: 20px;
}


.file-select-from-device,
.file-select-from-facebook {
    text-align: center;
}

.file-select-from-device p,
.file-select-from-facebook p {
    font-size: 16px;
    color: #909090;
    margin-bottom: 0px;
}

.file-select-from-device i,
.file-select-from-facebook i {
    font-size: 60px;
}

.add-photos-area {
    padding: 20px;
    border-radius: 4px;
    margin-top: 20px;
    color: #585858;
    background: #c8c8c8;
}

.add-photos-area .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 20px;
}

.add-photos-text-wrapper {
    display: flex;
    font-size: 22px;
    font-family: "Montserrat";
    font-weight: 500;
    align-items: center;

}

.add-photos-text-wrapper i {
    vertical-align: middle;
    margin-right: 10px;
    font-size: 32px;
}

.add-photos-text-wrapper p {
    margin-bottom: 0;
}

/*=========================
create memorial stories area
===========================*/
.description-text {
    font-family: "Montserrat";
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin: 25px 0px;
}



.stories-input-area-wrapper textarea {
    margin-bottom: 0;
}

.stories-input-area-wrapper textarea::placeholder,
.stories-input-area-wrapper input::placeholder {
    color: rgba(105, 105, 105, 0.46);
}



.photo-video-area-wrapper .add-photos-area {
    padding: 20px;
    background-color: #c8c8c8;
}


/*=========================
create memorial admin area
===========================*/
.admin-setting-wrapper {
    background-color: #747E7E;
    color: #efefef;
    font-family: "Montserrat";
    padding: 50px;
}



.privacy-and-notification-wrapper {
    background: #e9e9e9;
    padding: 30px 20px;
    color: #2F2F2F;
}

.privacy-and-notification-wrapper h6 {
    font-weight: 500;
    font-size: 18px;
}

.privacy-and-notification-wrapper>hr {
    height: 4px;
    background-color: #d5d5d5;
    opacity: 1;
    margin-bottom: 40px;
}

.privacy-and-notification-wrapper h5 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}

.privacy-options-wrapper hr {
    width: 95%;
    display: block;
    margin: 20px auto 50px;
}

.default-options-wrapper h5 {
    margin-bottom: 10px;
}

.default-options-wrapper p {
    margin-bottom: 30px;
}

.privacy-and-notification-wrapper label {
    width: 100%;
}

.privacy-and-notification-wrapper .form-check {
    width: 500px;
    padding: 15px;
    border-radius: 7px;
    padding-left: 40px;
}

.privacy-and-notification-wrapper .form-check:hover {
    background-color: #d5d5d5;
}

.privacy-and-notification-wrapper label h6 {
    font-weight: 700;
    font-size: 16px;
    color: #585858;
}

.privacy-and-notification-wrapper p {
    font-weight: 500;
    font-size: 14px;
    color: #585858;
    margin-bottom: 0;
}

.privacy-and-notification-wrapper label span {
    font-size: 31px;
    margin-top: -16px;
    margin-left: 8px;
}

.default-options-wrapper .custom-label h6,
i {
    color: #909090;
    font-size: 14px;
    font-weight: 500;
}

.default-options-wrapper .custom-label i {
    margin-right: 10px;
    font-size: 18px;
}

.default-options-wrapper .custom-label .custom-text {
    font-size: 16px;
    color: #585858;
    font-weight: 700;
}

.default-options-wrapper .update-link {
    text-decoration: underline;
    color: #909090;
    display: block;
    margin-top: 25px;
}

.form-check-input[type=radio] {
    padding: 0;
    font-size: inherit;
}






/*==================
responsive area
==================== */
@media screen and (max-width:1199px) {
    .photo-video-area .nav-tabs .nav-link {
        margin-right: 19px;
    }
}

@media screen and (max-width:991px) {
    .title-of-about {
        font-size: 26px;
    }

    #nav-about .add-photos-area label,
    #nav-about .invite-now-area button {
        width: 100%;
    }

    .learn-more-area-wrapper .not-free-text {
        font-size: 18px;
        width: 100%;
    }



}

@media screen and (max-width:767px) {
    .banner-content {
        padding: 100px 0px;
    }
    .banner-content h2 {
        font-size: 26px;
    }


    .input-area-wrapper {
        padding: 20px 20px 50px;
    }

    .remembering-text {
        font-size: 12px;
    }

    .photo-video-area #nav-tabContent i {
        font-size: 76px;
        padding: 50px 50px;
    }

    .add-photos-text-wrapper i {
        font-size: 26px;
    }

    .description-text {
        font-size: 18px;
    }

    .input-title {
        font-size: 22px;
    }

    .learn-more-area-wrapper i {
        font-size: 38px;
    }

    textarea {
        font-size: 18px;
    }

    .publish-btn {
        font-size: 22px;
    }

    .suggestion-text {
        font-size: 16px;
    }

    input {
        font-size: 18px;
    }

    .privacy-and-notification-wrapper h6 {
        font-weight: 500;
        font-size: 16px;
    }

    .privacy-and-notification-wrapper .form-check {
        width: 100%;
    }

    .description-text {
        font-family: "Montserrat";
        font-size: 12px;
        line-height: inherit;
        text-align: center;
        color: #FFFFFF;
        margin: 25px 0px;
    }

    .privacy-and-notification-wrapper .form-check {
        padding: 10px;
        padding-left: 30px;
    }

    .file-select-from-device i,
    .file-select-from-facebook i {
        font-size: 38px;
    }
}

@media screen and (max-width:400px) {
    .input-area-wrapper {
        padding: 10px 10px 50px;
    }

    .default-options-wrapper .custom-label h6,
    i {
        font-size: 10px;
    }

    .default-options-wrapper .custom-label i {
        font-size: 16px;
    }

    .default-options-wrapper .update-link {
        font-size: 12px;
    }

    .privacy-and-notification-wrapper p {
        font-weight: 500;
        font-size: 12px;
        font-family: "Montserrat";
    }
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:1199px) {}

@media screen and (max-width:1199px) {}