* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*=========================
 I want share memories area
 ===============================*/
.share-memories-section {
    position: relative;

}

.form-wrapper {
    width: 100%;
    background: #747E7E;
    border-radius: 3px;
    padding: 55px 10px;
    text-align: center;
    color: #fff;
}

.form-wrapper .input-wrapper {
    margin: 15px 0px;
}

.form-wrapper h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.form-wrapper .input-wrapper input {
    background: #FEFEFE;
    border: 2px solid #626262;
    border-radius: 3px;
    width: 94%;
    color: black;
    font-size: 30px;
    padding: 10px 15px;
}

.form-wrapper .input-wrapper input:focus {
    outline: none;

}

.form-wrapper .input-wrapper input::placeholder {
    color: rgba(105, 105, 105, 0.46);
}

.form-wrapper .btn {
    background: #2F2F2F;
    border: 2px solid #626262;
    border-radius: 4px;
    width: 97%;
    padding: 10px 15px;
    font-size: 30px;
    color: #fff;
}

.form-wrapper p {

    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #2F2F2F;
    margin-top: 15px;
}

.form-wrapper p a {
    text-decoration: underline;
    color: #2F2F2F;
}


/* Recent Online Memorials area */

.single-memorials {
    border-radius: 30px;
}

.row.memorials-wrapper {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.memorials-wrapper h4 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #000000;
    margin: 15px 0px;
}

.memorials-wrapper .single-memorials img {
    border-radius: 30px;
    width: 100%;
    transition: .4s ease;
}

.memorials-wrapper .single-memorials:hover img {
    box-shadow: 0px 3px 8px #00000050;
    text-decoration: none;
    transform: scale(.97);
}



/* Our Community Area */
.community-numbers-count {
    align-items: center;
    justify-content: center;
}

.community-numbers-count .btn {
    background: #414645;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
}

.community-numbers-count p {
    text-align: center;
    margin: 25px 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #2F2F2F;
}


/* Memorial Galleries area  */
.gallery-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
    background: #414645;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 25px;
    color: #fff;
    margin-bottom: 25px;
}

.gallery-wrapper h4 {
    font-weight: bold;
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.gallery-wrapper img {
    width: 120px;
}

.gallery-wrapper a {
    font-weight: bold;
    font-size: 25px;
    text-decoration-line: underline;
    color: #FFFFFF;

}

/*=================
 responsive css area
===================*/
@media screen and (max-width:1199px) {
    .gallery-wrapper h4 {
        font-size: 32px;
    }
}

@media screen and (max-width:992px) {

    .community-numbers-count .btn {
        font-size: 26px;
    }

    .banner-content img {
        width: 380px;
    }

    .banner-content h2 {
        font-size: 52px;
    }

    .banner-content p {
        font-size: 22px;
    }

    .form-wrapper .btn {
        padding: 5px 15px;
        font-size: 22px;
    }

    .form-wrapper .input-wrapper input {
        font-size: 24px;
        padding: 5px 15px;
    }

    .form-wrapper h3 {
        font-size: 26px;
    }




}

@media screen and (max-width:767px) {
    .banner-content {
        padding: 80px 0px;
    }

    .banner-content h2 {
        font-size: 42px;
    }

    .banner-content img {
        width: 300px;
    }

    .banner-content p {
        font-size: 18px;
    }

    .form-wrapper h3 {
        font-size: 20px;
    }

    .form-wrapper .input-wrapper input {

        margin-bottom: 15px;
    }

    .form-wrapper .input-wrapper {
        margin-bottom: 0px;
    }

    .form-wrapper .input-wrapper input {
        width: 100%;
    }

    .form-wrapper .btn {
        width: 100%;
    }

    .community-numbers-count .btn {
        margin-bottom: 15px;
    }

    




}
