.temp {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 17.19%, rgba(0, 0, 0, 0) 100%),
        url(../../images/themes/header/piano.png);
}

.temp-main-content {
    background: linear-gradient(180deg, #8cbadb 0%, rgba(77, 94, 98, 0) 100%);
}

.temp.input-area-wrapper {
    background: #274852;
    border-radius: 5px;
    padding: 20px 50px 50px;
}

.temp.invite-now-area,
.temp.add-photos-area {
    background: #274852;
}
.temp-main-bg {
    background: linear-gradient(180deg, #8C949A 0%, rgba(77, 94, 98, 0) 100%);
}

.temp-2nd-bg {
    background: #646F73;
    color: #fff;
}

.temp-3rd-bg {
    background: #c8c8c8;
}

.temp.progress .progress-bar {
    background: #646F73;

}
.temp.nav-tabs {
    background: #274852;
    border: 2px solid #666666;
}

.temp.progress .progress-bar {
    background: #646F73;

}
@media screen and (max-width: 767px) {
    .temp.input-area-wrapper {
        padding: 20px 10px 50px;
    }
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 1199px) {
}
.user-temp.memorial-description {
    background: #274852;
}
